RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://tracker.customphpdesign.com/$1 [R,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# One param
# IE: search

RewriteRule ^/?([^/]*)$ index.php?section=$1 [L,QSA]


# Two params
# IE: search/12345

RewriteRule ^pdf/?([^/]*)$ view_pdf.php?pdf_file=$1 [NC,L]
RewriteRule ^editproject/([a-zA-Z0-9]+)/?$ index.php?section=editproject&id=$1 [NC,L]
RewriteRule ^deleteproject/([a-zA-Z0-9]+)/?$ index.php?section=deleteproject&id=$1 [NC,L]
RewriteRule ^viewreview/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1 [NC,L]
RewriteRule ^insertdata/([a-zA-Z0-9]+)/?$ index.php?section=insertdata&projectID=$1 [NC,L]
RewriteRule ^viewreport/([a-zA-Z0-9]+)/?$ index.php?section=viewreport&projectID=$1 [NC,L]
RewriteRule ^newuser/([a-zA-Z0-9]+)/?$ index.php?section=newuser&id=$1 [NC,L]
RewriteRule ^edituser/([a-zA-Z0-9]+)/?$ index.php?section=edituser&id=$1 [NC,L]
RewriteRule ^deleteuser/([a-zA-Z0-9]+)/?$ index.php?section=deleteuser&id=$1 [NC,L]
RewriteRule ^user_states/([a-zA-Z0-9]+)/?$ index.php?section=user_states&id=$1 [NC,L]
RewriteRule ^dots/([a-zA-Z0-9]+)/?$ index.php?section=manage_dot&id=$1 [NC,L]
RewriteRule ^new_project/([a-zA-Z0-9]+)/?$ index.php?section=new_project&id=$1 [NC,L]
RewriteRule ^new_review/([a-zA-Z0-9]+)/?$ index.php?section=new_review&dotID=$1 [NC,L]
RewriteRule ^review/([a-zA-Z0-9]+)/?$ index.php?section=review&reviewID=$1 [NC,L]
RewriteRule ^upload_xml/([a-zA-Z0-9]+)/?$ index.php?section=upload_xml&reviewID=$1 [NC,L]
RewriteRule ^upload_pdf/([a-zA-Z0-9]+)/?$ index.php?section=upload_pdf&reviewID=$1 [NC,L]
RewriteRule ^upload_cost/([a-zA-Z0-9]+)/?$ index.php?section=upload_cost&reviewID=$1 [NC,L]
RewriteRule ^open_review/([a-zA-Z0-9]+)/?$ index.php?section=open_review&dotID=$1 [NC,L]
RewriteRule ^list_project/([a-zA-Z0-9]+)/?$ index.php?section=list_project&dotID=$1 [NC,L]
RewriteRule ^view_project/([a-zA-Z0-9]+)/?$ index.php?section=view_project&id=$1 [NC,L]
RewriteRule ^client_load_project/([a-zA-Z0-9]+)/?$ index.php?section=client_load_project&id=$1 [NC,L]
RewriteRule ^client_view_project/([a-zA-Z0-9]+)/?$ index.php?section=client_view_project&id=$1 [NC,L]
RewriteRule ^client_review/([a-zA-Z0-9]+)/?$ index.php?section=client_review&reviewID=$1 [NC,L]
RewriteRule ^client_list_project/([a-zA-Z0-9]+)/?$ index.php?section=client_list_project&dotID=$1 [NC,L]
RewriteRule ^client_upload_file/([a-zA-Z0-9]+)/?$ index.php?section=client_upload_file&id=$1 [NC,L]
RewriteRule ^deletereview/([a-zA-Z0-9]+)/?$ index.php?section=deletereview&reviewID=$1 [NC,L]
RewriteRule ^deleteproject/([a-zA-Z0-9]+)/?$ index.php?section=deleteproject&id=$1 [NC,L]

# Three
RewriteRule ^updatedata/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=updatedata&projectID=$1&id=$2 [NC,L]
RewriteRule ^projects/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=projects&dotID=$1&projectID=$2 [NC,L]

# Page Sorting

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Page_Label/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Page_Label&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Page_Index/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Page_Index&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Author/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Author&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Date/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Date&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Creation_Date/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Creation_Date&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Comments/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Comments&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Category/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Category&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Comment_Type/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Comment_Type&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Discipline/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Discipline&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Importance/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Importance&direction=$2 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/Cost_Reduction/([a-zA-Z0-9]+)?$ index.php?section=viewreview&projectID=$1&field=Cost_Reduction&direction=$2 [NC,L]

# Page Numbers
RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Page_Label/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Page_Label&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Page_Index/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Page_Index&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Author/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Author&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Date/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Date&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Creation_Date/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Creation_Date&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Comments/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Comments&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Category/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Category&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Comment_Type/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Comment_Type&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Discipline/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Discipline&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Importance/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Importance&direction=$4 [NC,L]

RewriteRule ^viewreview/([a-zA-Z0-9]+)/pages/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/Cost_Reduction/([a-zA-Z0-9]+)/?$ index.php?section=viewreview&projectID=$1&page=$2&stop=$3&field=Cost_Reduction&direction=$4 [NC,L]



# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php56” package as the default “PHP” programming language.
<IfModule mime_module>
  AddType application/x-httpd-ea-php56 .php .php5 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
